.card {
  background-color: white;
  width: 10vmin;
  height: 16vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1vmin;
  font-size: 3vmin;
}

.red {
  color: red;
}

.black {
  color: black;
}
